<h1>Invoices n° : {{id}} </h1>
<div class="card" style="width: 80%;">
  <div class="card-body">
  </div>
  
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th class="text-right" style="width: 230px;">Quantity</th>
      <th class="text-right"style="width: 200px;">price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of prod">
      <td >
        <img [src]="p.produits.imageUrl" class="thumbnail">
      
      </td>
      <td>{{p.produits.title}}</td>
      
      <td class="text-right">{{p.quantity}}</td>
     

      <td class="text-right">{{p.quantity*p.produits.price | currency:'USD':true}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th class="text-right">{{TotalePrice | currency:'USD':true}}</th>
    </tr>
    <tr>
      
    </tr>
  </tfoot>
</table> 

</div>
<button class="btn btn-primary" (click)="back()">Back to invoices list</button>